<div class="wrapper">
    <div class="login-text">
        <button class="cta"><i class="fas fa-chevron-down fa-1x"></i></button>
        <div class="text">
            <h3 href="">Acquisizione dati</h3>
            <hr>
            <br>
            <input type="text" placeholder="Email" #email>
            <br>
            <input type="password" placeholder="Password" #password>
            <br>
            <button class="login-btn" >Aggiungi</button>
            <!-- <button class="signup-btn">Sign Up</button> -->
        </div>
    </div>
    <div class="call-text">
        <h1>Acquisizione dati</h1>
    </div>

</div>