<mat-accordion>
    <div class="card border-0">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="h4 text-capitalize mb-0">Acquisizione dati</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row mt-3">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Crypto</mat-label>
                        <input matInput placeholder="Tipo crypto" formControlName="tipoCrypto">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="importo da investire" formControlName="importoInvestito">
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
</mat-accordion>