/* You can add global styles to this file, and also import other style files */
@import "assets/css/custom.css";

:root {
    --main-color: #e41b17;
    --secondary-color: #222327
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--secondary-color);
/*     color: var(--main-color); */
    color: white;
    font-size: 62,4%;
}
/* span{
    color: var(--main-color);
} */